.section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}
.section1 img {
  width: 90%;
  height: 100%;
}
.section2 {
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid grey;
  box-shadow: 1px 1px 10px grey;
  width: 20vw;
}
.icon {
  text-align: center;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
}

.text1 {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  padding: 0.5rem 1rem;
}
.text2 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button1 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button1 input {
  height: 50px;
  width: 100px;
  border-radius: 11px;
  color: #ffffff;
  background-color: #000;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
