#div1{
  background-color: black;
  padding: 20px;
  width: 100%;
  border-color: black;
  

}
div>h1{
    color:white;
}
h2{
    color:white;
}
.checked {
    color: orange;
    
  }
  .dad1{
      width: 100%;
  }
  #div2{
      float: left;
    border-style: solid;
    border-color: black;
    border-width:0px;
    width: 60%;
    padding:20px;
    margin-left: 20px;
    
  }
  #div3{

     float: right;
      border-style: solid;
      border-color:black;
      border-width:2px;
      position: sticky;
      /* position: -webkit-sticky; */
      /* top:650px; */
      border-radius: 13%;
   
     
     padding-left: 30px ; 
     padding-right: 10px;
     margin-left: 10px;
     margin-right: 30px;

     
     
  }
  #div4{
      width:100%;
    border-style: solid;
    border-color:black;
    border-width:3px;
    background-color: black;
      margin-left: 20px;
     padding:20px;
      float: left;
  }
  /* body{
      position:relative;
  } */
  #div5{
      float:left;
      padding:35px;
  }
 