* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: row;
}
#search-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

#DropMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

#DropMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: left;
  margin: 2%;
  margin-left:7%;
}


#DropMenu li a:hover {
  background-color: #eee;
}

#Search {
  width: 70%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  margin-top: 2vh;
  margin-left: 5vh;
}

#Search1 {
  width: 50%;
  font-size: 18px;
  padding: 11px;
  margin-top: 5vh;
  margin-left: 50vh;
  border: 1px solid #ddd;
}

#DropMenu2 {
  display: none;
}

#DropMenu3 {
  display: none;
}

#DropMenu4 {
  display: none;
}

.comm1 {
  display: none;
}

.comm {
  display: none;
}

#DropMenu3 {
  display: none;
}

.checked {
  color: blue;
}

/*.comm {
  transition: height 2s;
  overflow: hidden;
  background: grey;
}*/
.hide-list {
  height: 0 !important;
}
#arrow-down {
  cursor: pointer;
}

button {
  background: #000;
  color: #fff;
  padding: 10px 60px 10px 60px;
  font-size: 15px;
  font-weight: 400;
  border: solid #000 5px;
  border-radius: 0;
  margin-right: 30px;
}
